@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #292A40 16.62%, #5174A8 85.61%);

}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 100px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color:#fff2e7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-top: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
 
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo{
    font-family: 'Righteous', cursive;
    font-size: 64px;
    color: #FFF2E7;
    font-weight: 400;
    
}

.conteudo-principal-botao{
    background-color: #ecd6c4;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
}

.logoPrincipal{
  height: 430px;  
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    gap: 20px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
    color: #fff2ef;
    margin-bottom: 0px;
}

.textopequeno{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
    color: #fff2ef;

}

.conteudo-principal-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.cabecalho-menu-item:hover{
    text-decoration:underline;
}