@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body{
  background-color: #ebecf0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--cor-primaria);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover{
    text-decoration:underline;
 }
  
 .cabecalho-menu{
   display: grid;
   grid-template-columns: auto auto;
   padding: 20px;
 }
 
 .cabecalho-menu-item{
   margin-top: 100px;
   font-family: 'Belleza';
   font-size: 30px;
 
 }

 .conteudo-principal {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
    grid-template-rows: auto; /* Alinhamento automático das linhas */
    gap: 20px; /* Espaçamento entre as colunas */
  }
  
  .conteudo-principal-escrito {
    grid-column: 1; /* Alinha título e texto na primeira coluna */
  }
  
  .botao-doacao {
    grid-column: 1; /* Alinha o botão na primeira coluna */
    margin-top: 20px; /* Espaço acima do botão */
  }
  
  .imagemprincipal-parceria {
    grid-column: 2; /* Alinha imagem na segunda coluna */
    justify-content: center;
    width: 500px;
  }